html {
    height: 100%
}

body {
    height: 100%; margin: 0; padding: 0
}

#map_canvas {
    height: 100%;
    margin-left: 200px;
}
#left-menu {
    width: 200px;
    float: left;
    height: 100%;
}